@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Karla:wght@300;400;600&family=Dancing+Script:wght@500&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
    themes: dracula --default;
};

@layer base {
  h1, h2, h3 { @apply font-['Playfair_Display']; }
  body { @apply font-['Karla']; }
  .handwriting { @apply font-['Dancing_Script']; }
}
